* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}
header h1 {
  font-size: 42px;
  letter-spacing: -3px;
}
span {
  color: orangered;
}
.nav-bar a {
  color: white;
  font-size: 20px;
  margin: 0 14px;
  border-bottom: 2px solid transparent;
}
.nav-bar a:hover,
.nav-bar a.active {
  border-bottom: 2px solid orangered;
}
/*Menu*/
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: black;
  padding: 30px;
  display: none;
}
.slide {
  display: none;
}
.menu a {
  color: white;
  font-size: 20px;
  margin: 0 14px;
  border-bottom: 2px solid transparent;
  letter-spacing: 1px;
  line-height: 3em;
}
.menu a:hover,
.menu a.active {
  border-bottom: 2px solid orangered;
}

section {
  min-height: 100vh;
}
.home {
  min-height: 100vh;
  align-items: center;
  display: flex;
  padding: 10px 12%;
  width: 100%;
  gap: 7em;
  justify-content: center;
}

.home .about {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.home img {
  width: 500px;
  transition: 1s ease;
}
.home h1 {
  font-size: 80px;
  transition: 1s ease;
}
.home h3 {
  font-size: 40px;
}
.home p {
  font-size: 16px;
}
.home h1:hover {
  scale: 1.1;
  transform: scale(1.1);
  text-shadow: 0 0 3px #424242, 0 0 3px #424242;
}
.home img:hover {
  transform: scale(1.1);
  text-shadow: 0 0 3px #424242, 0 0 3px #424242;
}
/* Member page */
.members {
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  padding: 10px 12%;
  background-color: #181c14;
}
.members h1 {
  padding-top: 10vh;
  font-size: 60px;
  text-align: center;
  padding-bottom: 50px;
  text-decoration: underline orangered;
  color: #ecdfcc;
}
.Mom {
  display: grid;
  grid-template-columns: repeat(1, 4fr);
  align-items: center;
  justify-content: center;
  padding: 10px 12%;
  width: 100%;
  padding-bottom: 7em;
}
.Mom .mom-contant {
  background-color: #3c3d37;
  padding: 20px;
  height: 450px;
  border-radius: 1rem;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  align-items: center;
  margin: 0 auto;
}
.Mom img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 5px solid aliceblue;
  align-items: center;
}
.Mom p {
  padding-top: 5px;
  padding-left: 20px;
  color: white;
  text-align: left;
  font-size: 18px;
}
.Mom h2 {
  padding-top: 30px;
  padding-left: 20px;
  color: white;
  text-align: left;
  font-size: 19px;
}
.Mom .mom-contant:hover,
.Mom .img :hover {
  scale: 1.1;
}
.mimg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px 12%;
  width: 100%;
  gap: 7em;
}
.mimg .image-border {
  background-color: #3c3d37;
  padding: 20px;
  height: 450px;
  border-radius: 1rem;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mimg p {
  padding-top: 5px;
  padding-left: 20px;
  color: white;
  text-align: left;
  font-size: 18px;
}
.mimg h2 {
  padding-top: 30px;
  padding-left: 20px;
  color: white;
  text-align: left;
  font-size: 19px;
}
.mimg img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 5px solid aliceblue;
}

.mimg .image-border:hover,
.mimg .img :hover {
  scale: 1.1;
}

@media (max-width: 800px) {
  .home {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .home .about {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  .home img {
    width: 280px;
    transition: 1s ease;
  }
  .home h1 {
    font-size: 80px;
    transition: 1s ease;
    padding-top: 165px;
  }
  .mimg {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    padding: 10px 12%;
    width: 100%;
    gap: 7em;
  }
  .slide {
    display: block;
  }
  .members h1 {
    padding-top: 5vh;
    font-size: 60px;
    text-align: center;
    padding-bottom: 50px;
    text-decoration: underline orangered;
    color: #ecdfcc;
  }
  #show {
    display: none;
  }
}
